@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);

body
{
    background-color: #cccccc;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    overflow: -moz-scrollbars-vertical;
    margin: 0;
    padding: 0;
}

/* ----------------------------------------------------------------
   General
------------------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

a {
    color: #006699;
    text-decoration: none;
}

p {
    margin-bottom: 2em;
    line-height: 1.7em;
}

H1 {
    color: rgb(200, 48, 24);
    font-size: 0.9em;
    text-align: left;
    margin-bottom: 10px;
}

H2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8em;
}

H3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
}

ul {
    margin-bottom: 10px;
}

li {
    margin-left: 2em;
    margin-bottom: 5px;
    line-height: 1.6em;
}

.wp-caption-text {
    font-size: 0.9em;
    margin-left: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 2em 0.5em 2em;
    margin: 1.5em 4em;
    position: relative;

}

blockquote p {
    margin: 0;
    font-style: italic;
}
blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: #666;
    text-align: center;
}
blockquote:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: rgb(200, 48, 24);
}


/* ----------------------------------------------------------------
   Sections
------------------------------------------------------------------- */

#header {
    margin: 0 auto;
    max-width: 1003px;
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
}

#container {
    display: flex;
    margin: 0 auto;
    max-width: 1003px;
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
    background: white !important;
}

#container .news-banner {
    max-height: 90px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

#container .menu-section-container ul {
    margin: 0;
    padding: 5px;

}

#container .menu-section-container ul li {
    display: inline;
    padding: 0 5px;
    margin-left: 0.75em;
}

#container .menu-section-container ul li a {
    text-decoration: none;
    font-size: 90%;
    color: #999999;
}

#post {
    border-top: 1px solid #999999;
    padding: 10px 0 10px 10px;
}

#post H2 {
    font-size: 2em;
    margin-top: 10px;
}

#post img {
    margin: 0 10px 10px 10px;
    border: 1px solid #999999;
    max-width: 100%;
}

#post table {
    font-size:1em;
    width: 60%;
    float: right;
    border: 1px solid #999999;
    margin: 10px 0 10px 20px;
}

#post .col-1 {
    width: 20%;
}

#post table tr td {
    font-size:1em;
    padding: 5px;
    border: 1px solid #999999;

}

.post-meta ul {
    margin: 0 0 10px 0;
}

.post-meta li {
    color: rgb(200, 48, 24);
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
    list-style-type: none;
    margin: 0;
}

#post .post-meta ul li {
    margin: 0;
}

#content {
    flex-grow: 1;
    color: black !important;
    font-size: 0.8em;
    padding: 15px;
    width:1000px;

}

#bio {
    border-top: 1px solid #999999;
    font-size: small;
    font-style: italic;
    padding: 10px;
    margin-top: 20px;
}

#bio img {
    border: 1px solid #999999;
    margin: 10px 0 0 10px;
    height: 75px;
    width: 75px;
}

#bio img {
    margin: 0 10px 10px 0;
}

aside {
    flex-shrink: 0;
    width: 200px;
    background: black;
}

#sidebar {
}

    #sidebar .menu-iau-sidebar-container ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        background: black;
    }

    #sidebar .menu-iau-sidebar-container ul li {
        float: left;
        width: 194px;
        padding: 4px 0 4px 6px;
        margin: 0;
    }

    #sidebar .menu-iau-sidebar-container ul li a {
        font-weight: bold;
        color: #b1b1b1 !important;
        font-size: 16px;
        text-decoration: none;
    }

#sidebar #menu-item-6, #sidebar #menu-item-30 {
    float: left;
    background: white !important;
    width: 194px;
    margin: 4px 0;
}

#sidebar #menu-item-6 a, #sidebar #menu-item-30 a {
    font-weight: bold;
    color: black !important;
    font-size: 16px;
    text-decoration: none;
}

#photos {
    margin-top: 2em;
}

#footer {
    background-color: #999999;
    font-size: 0.7em;
    padding: 5px 10px;
    width: 984px;
    margin: 0 auto;
}

#footer-links p {
    color: #DDDDDD;
    margin: 0 0 5px 200px;
    padding: 0;
}

#footer-links p a {
    color: white;
}

/* ----------------------------------------------------------------
   Homepage Specific
------------------------------------------------------------------- */

#content #post .highlights .home-excerpt {
    margin: 0 1em 15px 0;
    float: left;
    width: 190px;
}

#content #post .photo-excerpt {
    margin: 0;
    float: right;
    width: 90px;
}

#content #post .around {
    width: 25%;
    float: left;
    margin-right: 3em;
}

#content #post .highlights {
    width: 425px;
    float: left;
    max-height: 500px;
    margin-right: 1em;
}

#content #post .highlights .home-excerpt {
    margin: 0 1em 15px 0;
    float: left;
    width: 190px;
}

#content #post .FM-bar {
    width: 540px;
    float: left;
    max-height: 500px;
    margin-right: 1em;
}

#content #post .FM-bar .home-excerpt {
    margin: 0 1em 15px 0;
    float: left;
    width: 540px;
}

#content #post .FM-bar .home-excerpt img {
    max-height: 90px;
    margin-right: 10px;
    padding: 0;
    float: left
}



/* ----------------------------------------------------------------
   Mobile
------------------------------------------------------------------- */
/* @media all and (max-width: 800px) {

    #page {
        flex-flow:column;
    }

    /* Make the sidebar take the entire width of the screen */
/*
    aside {
        width:auto;
    }

}

*/